{% extends "base.html" %}

{% block content %}
<div class="form-container-wrapper">

    <div class="filter-sort-button-container">
        <form method="POST" action="{{ form_action }}">
            <div class="filter-container">
                <div class="filter-section">
                    <div class="form-group-wrapper">
                        <label for="user_name">User ID</label>
                        <input type="text" id="user_name" name="user_name" value="{{ request.form.get('user_name', '') }}">
                    </div>

                    <div class="activity-wrapper">
                        <div class="form-group-wrapper">
                            <label>Activity Name</label>
                            <select id="activity_name" name="activity_name" multiple="multiple">
                                {% for activity_name in activity_names %}
                                    <option value="{{ activity_name }}"
                                            {% if activity_name in request.form.getlist('activity_name') %}selected{% endif %}>
                                            {{ activity_name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group-wrapper">
                            <label>Activity Type</label>
                            <select id="activity_type" name="activity_type" multiple="multiple">
                                <label>Activity type</label>
                                {% for activity_type in activity_types %}
                                    <option value="{{ activity_type }}"
                                            {% if activity_type in request.form.getlist('activity_type') %}selected{% endif %}>
                                            {{ activity_type }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group-wrapper">
                        <label>Intensity</label>
                        <div class="intensity-wrapper">
                            <label><input type="checkbox" name="activity_intensity" value="Low"
                                {% if 'Low' in request.form.getlist('activity_intensity') %}checked{% endif %}> Low</label>
                        </div>
                        <div class="intensity-wrapper">
                            <label><input type="checkbox" name="activity_intensity" value="Medium"
                                {% if 'Medium' in request.form.getlist('activity_intensity') %}checked{% endif %}> Medium</label>
                        </div>
                        <div class="intensity-wrapper">
                            <label><input type="checkbox" name="activity_intensity" value="High"
                                {% if 'High' in request.form.getlist('activity_intensity') %}checked{% endif %}> High</label>
                        </div>
                    </div>

                    <div class="date-wrapper">
                        <div class="form-group-wrapper">
                            <label>Date From</label>
                            <input type="date" name="date_from" value="{{ request.form.get('date_from', '') }}">
                        </div>

                        <div class="form-group-wrapper">
                            <label>Date To</label>
                            <input type="date" name="date_to" value="{{ request.form.get('date_to', '') }}">
                        </div>
                    </div>
                </div>
            </div><div class="sort-button-container">
                <div class="sort-section">
                    <div class="form-group-wrapper">
                        <label for="sort_by">Sort By</label>
                        <select id="sort_by" name="sort_by">
                            <option value=""></option>
                            <option value="user_id" {% if request.form.get('sort_by') == 'user_id' %}selected{% endif %}>User</option>
                            <option value="name" {% if request.form.get('sort_by') == 'name' %}selected{% endif %}>Activity Name</option>
                            <option value="type" {% if request.form.get('sort_by') == 'type' %}selected{% endif %}>Activity Type</option>
                            <option value="date" {% if request.form.get('sort_by') == 'date' %}selected{% endif %}>Date</option>
                            <option value="duration" {% if request.form.get('sort_by') == 'duration' %}selected{% endif %}>Duration</option>
                            <option value="metric_value" {% if request.form.get('sort_by') == 'metric_value' %}selected{% endif %}>Metric Value</option>
                            <option value="intensity" {% if request.form.get('sort_by') == 'intensity' %}selected{% endif %}>Intensity</option>
                        </select>
                    </div>
                    
                    <div class="form-group-wrapper">
                        <label for="sort_order">Order</label>
                        <select id="sort_order" name="sort_order">
                            <option value=""></option>
                            <option value="asc" {% if request.form.get('sort_order') == 'asc' %}selected{% endif %}>Ascending</option>
                            <option value="desc" {% if request.form.get('sort_order') == 'desc' %}selected{% endif %}>Descending</option>
                        </select>
                    </div>
                </div>

                <div class="submit-btn-wrapper">
                    <button type="submit-wrapper" class="add-activity-submit-button-wrapper">Apply</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
    $(document).ready(function () {
        $('#activity_name').select2({
            placeholder: "",
            allowClear: true,
            closeOnSelect: false
        });
    });
    
    $(document).ready(function () {
        $('#activity_type').select2({
            placeholder: "",
            allowClear: true,
            closeOnSelect: false
        });
    });

    $(document).ready(function () {
        $('#sort_by').select2({
            placeholder: "",
            allowClear: true,
            minimumResultsForSearch: Infinity
        });
    });

    $(document).ready(function () {
        $('#sort_order').select2({
            placeholder: "",
            allowClear: true,
            minimumResultsForSearch: Infinity
        });
    });
</script>

{% block filter_sort_wrapper_content %}{% endblock %}

{% endblock %}
