{% extends "base.html" %}

{% block title %}Home - Activity Tracker{% endblock %}

{% block content %}

<div class="container">
    <!-- Forecast Section -->
    <div class="forecast">
        <h2>Weather Forecast</h2>
        <br>
        <p class="city"><strong>Krakow</strong></p>
        <div class="weather-info">
            <p class="temperature">{{ scraped_text["temperature"] }}</p>
            <p class="weather"><i>{{ scraped_text["weather"] }}</i></p>
            <br>
            <p class="details"><strong>Pressure:</strong> {{ scraped_text["pressure"] }}</p>
            <p class="details"><strong>Wind:</strong> {{ scraped_text["wind"] }}</p>
        </div>
        <div class="weather-info">
            <br><br>
            <p class="sun-moon">☀️ {{ scraped_text["sun_rise"] }} - {{ scraped_text["sun_set"] }}</p>
            <br>
            <p class="sun-moon">🌙 {{ scraped_text["moon_rise"] }} - {{ scraped_text["moon_set"] }}</p>
        </div>
    </div>

    <!-- Navigation Section -->
    <div class="navigation">
        <h2>Navigation</h2>
        <div class="button-container">
            <!-- Button for Adding Activity -->
            <a href="{{ url_for('add_activity.add_activity_page') }}">
                <button class="action-button">Add Activity</button>
            </a>
            <!-- Button for Searching Activities -->
            <a href="{{ url_for('search_activity.search_activity_page') }}">
                <button class="action-button">Manage Activities</button>
            </a>
            <!-- Button to Display Statistics -->
            <a href="{{ url_for('statistics.statistics_page') }}">
                <button class="action-button">Display Statistics</button>
            </a>
            <!-- Button for Generating Raport -->
            <a href="{{ url_for('report.report_page') }}">
                <button class="action-button">Generate Raport</button>
            </a>
        </div>
    </div>

    <!-- Messages Section -->
    <div class="messages">
        <h2>Messages</h2>

        <div class="messages-container">
            <div class="message-list">
                {% for message in messages %}
                    <div class="message-bubble">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>

            <form action="/" method="POST">
                <div class="new-message-container">
                    <textarea type="text" name="message" placeholder="Type your message..." maxlength="150" class="new-message-input" required></textarea>
                    <button type="submit" class="submit-button">Send Message</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
